body {
  background-color: #252525;
  color: white;
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.player-box {
  width: 18%;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #2c2c2c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box-value {
  font-size: 18px;
  margin-bottom: 20px;
}

.description-box {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  background-color: #2c2c2c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.description-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description-value {
  font-size: 18px;
  margin-bottom: 20px;
}
